<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope" style="background:url(public/img/rayas.jpg) center center; background-size:cover">
  <div class="col">
    
   <div class="wrapper-lg"> 
    <div class="bg-light lter b-b">
      <div class="row">
        <div class="col-xs-12" style="background-color: #008080; border-radius: 50px">
          <h3 class="m-n font-thin h1 text-black text-center"><b style="color: #ffffff">Bienvenido</b></h1>
          <p class="text-center">
            <b style="color: #ffffff">Sistema Informático para la Administración del Laboratorio Clínico MM FISHER'ST</b>
          </p>
          <h3 class="text-center" style="color: #ffffff">{{ userRegister.sucursal.nombre_sucursal }}</h3>
        </div>
      </div>
    </div>
   </div>
    
    
    <div class="wrapper-md ng-scope">
      <br><br><br>
      <center>
      <img src="public/img/logoprincipal.png" >
      <br><br><br><br><br><br><br><br>
      <img src="public/img/minerva.png" height="100px" >
       <h3 style="font-size:12px">Copyright &copy;. Todos los derechos reservados 2017. Universidad de El Salvador, Facultad Multidisciplinaria Paracentral</h3>

      </center>
    </div>
 
  </div>
</div>
