<div class="hbox hbox-auto-xs hbox-auto-sm ng-scope">
  <div class="col">
    <div style="background:url(public/img/fondorayas.png) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <div class="clear m-b">
              <div class="m-b m-t-sm">
               <span class="h1 text-black">{{ userRegister.name_pac }} {{ userRegister.lastname_pac }} </span>
               <br> <span class="h3 text-black">{{ userRegister.codigo_paciente }}</span>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="wrapper bg-white b-b" style="background-color: lightskyblue">
      <ul class="nav nav-pills nav-sm">
        <li ui-sref-active="active">
          <a ui-sref="app.perfil.data">HISTORIAL MÉDICO</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.perfil.cita">RESERVA DE CITA</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.perfil.domicilio">CITA A DOMICILIO</a>
        </li>
      </ul>
    </div>
    <div class="padder">
      <div class="row" ui-view='item'></div>
    </div>
  </div>
</div>
