<div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
  <div class="col bg-white-only" style="background:url(public/img/rayas.jpg) center center; background-size:cover"> 
    <form class="form-validation hbox" ng-submit="onSubmitForm(frmPacientePerfil.$valid);" name="frmPacientePerfil">
      <div class="vbox">
        <div class="wrapper-sm b-b" style="background-color: #008080">
          <div class="m-t-n-xxs m-b-n-xxs m-l-xs">
            <button type="button" class="btn btn-sm btn-info pull-right" ng-show="perfil.editing || perfil.changepassword"
              ng-click="deleteItem()"><i class="fa  fa-mail-reply" tooltip-placement="top" uib-tooltip="Regresar"></i></button>            

            <button type="button" class="btn btn-sm btn-info btn-addon" ng-hide="perfil.changepassword || perfil.editing"
              ng-click="editItem()"><i class="fa fa-edit fa-fw m-r-xs"></i>Editar</button>

            <button type="submit" class="btn btn-sm btn-info btn-addon" 
              ng-show="perfil.editing" ng-disabled="frmPacientePerfil.$invalid"><i class="fa fa-check fa-fw m-r-xs"></i>Aceptar</button>

            <button type="button" class="btn btn-sm btn-info btn-addon" 
              ng-hide="perfil.changepassword || perfil.editing" ng-click="editPassword()"><i class="fa fa-key fa-fw m-r-xs"></i>Cambiar contraseña</button>
            
            <button type="submit" class="btn btn-sm btn-info btn-addon" 
              ng-show="perfil.changepassword"  ng-disabled="frmPacientePerfil.$invalid"><i class="fa fa-check fa-fw m-r-xs"></i>Aceptar</button>
          </div>
        </div>

<div class="wrapper-md" >
			<div class="row">
        <div class="col-sm-6 col-xs-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading font-bold" style="background-color: #008080"><b style="color: #ffffff">Datos Personales</b></div>
            <div class="panel-body">

       <!-- <div class="row-row"> -->
            <div class="cell" ng-if="!isPaciente">
              <div class="cell-inner"> 
                <div class="wrapper-lg">
                  <div class="hbox h-auto m-b-lg">
                    <div class="col text-center w-sm">
                      <div class="thumb-lg avatar inline">
                        <img ng-src="public/img/user.png" alt="image for people user" />
                      </div>
                    </div>
                    <div class="col v-middle h1 font-thin">
                      <div class="ng-binding">{{ perfil.name_emp }} {{ perfil.lastname_emp }} </div>
                      <p>{{ perfil.code_emp || "No carnet" }}</p>
                    </div>
                  </div>
                  <div class="form-horizontal" ng-if="!perfil.changepassword">                    
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Tipo contrato: </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{{ perfil.tipo_contratacion | fromContracto }}</p>
                      </div>
                    </div>
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Cargo: </label>
                      <div class="col-sm-9">
                        <p class="form-control-static">{{ perfil.cargo_emp }}</p>
                      </div>
                    </div>
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Teléfono: </label>
                      <div class="col-sm-9">
                        <p class="form-control-static" ng-hide="perfil.editing">{{ perfil.phone_emp || 'No celular' }}</p>
                        <input type="text" ng-show="perfil.editing" required name="telefono"
                          class="form-control" ui-mask="(503) 9999-9999"  ng-model="perfil.phone_emp">
                      </div>
                    </div>
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Dirección: </label>
                      <div class="col-sm-9">
                        <p class="form-control-static" ng-hide="perfil.editing">{{ perfil.address_emp }}</p>
                        <textarea class="form-control" ng-show="perfil.editing" required name="direccion"
                          ng-model="perfil.address_emp" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="form-horizontal" ng-if="perfil.changepassword">
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Contraseña actual: </label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" ng-minlength="8" required name="current_password" ng-model="perfil.current_password" />
                      </div>
                    </div>
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Nueva contraseña: </label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" ng-minlength="8" required name="new_password" ng-model="perfil.new_password" />
                      </div>
                    </div>  
                    <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Confirmar contraseña: </label>
                      <div class="col-sm-9">
                        <input type="password" ui-validate="'$value == perfil.new_password'" ui-validate-watch=" 'perfil.new_password' "
                          class="form-control" required  ng-minlength="8" name="confirm_password" ng-model="perfil.confirm_password" />
                      </div>
                    </div>      
                  </div>
                </div>


        <!--      </div> -->
            </div>
        </div>


             <!-- Aqui van los dos div que he quitado -->



          <div class="cell" ng-if="isPaciente">
            <div class="cell-inner">
              <div class="wrapper-lg">
                <div class="hbox h-auto m-b-lg">
                  <div class="col text-center w-sm">
                    <div class="thumb-lg avatar inline">
                      <img ng-src="public/img/user.png" alt="image for people user" />
                    </div>
                  </div>
                  <div class="col v-middle h1 font-thin">
                    <div class="ng-binding">{{ perfil.name_pac }} {{ perfil.lastname_pac }} </div>
                    <p>{{ perfil.codigo_paciente || "No carnet" }}</p>
                  </div>
                </div>
                <div class="form-horizontal" ng-if="!perfil.changepassword">
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">Teléfono: </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" ng-hide="perfil.editing">{{ perfil.telefono || 'No celular' }}</p>
                      <input type="text" ng-show="perfil.editing" required name="telefono"
                        class="form-control" ui-mask="(503) 9999-9999"  ng-model="perfil.telefono">
                    </div>
                  </div>
                  <div class="form-group m-b-sm">
                      <label class="col-sm-3 control-label">Responsable: </label>
                      <div class="col-sm-9">
                        <p class="form-control-static" ng-hide="perfil.editing">{{ perfil.responsable_paciente || 'No responsable' }}</p>
                        <input type="text" ng-show="perfil.editing" name="responsable_paciente"
                          class="form-control" ng-model="perfil.responsable_paciente">
                      </div>
                    </div>
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">DUI: </label>
                    <div class="col-sm-9">
                      <p class="form-control-static ng-binding" ng-hide="perfil.editing">{{ perfil.dui || 'No DUI' }}</p>
                      <input type="text" ng-show="perfil.editing" required name="dui"
                        class="form-control" ui-mask="99999999-9" ng-model="perfil.dui">
                    </div>
                  </div>
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">Dirección: </label>
                    <div class="col-sm-9">
                      <p class="form-control-static" ng-hide="perfil.editing">{{ perfil.address_pac }}</p>
                      <textarea class="form-control" ng-show="perfil.editing" required name="direccion"
                        ng-model="perfil.address_pac" rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-horizontal" ng-if="perfil.changepassword">
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">Contraseña actual: </label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" ng-minlength="8" required name="current_password" ng-model="perfil.current_password" />
                    </div>
                  </div>
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">Nueva contraseña: </label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" ng-minlength="8" required name="new_password" ng-model="perfil.new_password" />
                    </div>
                  </div>  
                  <div class="form-group m-b-sm">
                    <label class="col-sm-3 control-label">Confirmar contraseña: </label>
                    <div class="col-sm-9">
                      <input type="password" ui-validate="'$value == perfil.new_password'" ui-validate-watch=" 'perfil.new_password' "
                        class="form-control" required  ng-minlength="8" name="confirm_password" ng-model="perfil.confirm_password" />
                    </div>
                  </div>      
                </div>
              </div>
            </div>
          </div>
        </div>

         </div>
            </div> <!-- divs que vinieron de arriba-->

    </div>
  </div>
</div>


      </div>
    </form>
  </div>
</div>