<footer id="footer-main" class="footer-main container-fluid no-left-padding no-right-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-6 contact-info">
        <aside class="widget widget_info">
          <h3 class="widget-title">Contáctenos</h3>
          <p><i class="fa fa-phone"></i><a href="tel:386489550686" title="+386 489 550 686">(503) 2393 - 0000</a></p>
          <p><i class="fa fa-envelope"></i><a href="mmfisherst@algo.com" title="mmfisherst@algo.com">mmfisherst@algo.com</a></p>
        </aside>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6">
        <aside class="widget widget_workinghours">
          <span><i class="fa fa-clock-o"></i></span>
          <h3 class="widget-title">Nuestro Horario</h3>
          <ul>
            <li><span>Lunes</span> <b>7.00  AM  -  3.00 PM</b></li>
            <li><span>Martes</span> <b>7.00  AM  -  3.00 PM </b></li>
            <li><span>Miércoles</span> <b>7.00  AM  -  3.00 PM</b></li>
            <li><span>Jueves</span> <b>7.00  AM  -  3.00 PM</b></li>
            <li><span>Viernes</span> <b>7.00  AM  -  3.00 PM</b></li>
            <li><span>Sábado</span> <b>CERRADO</b></li>
            <li><span>Domingo</span> <b>8.00  AM  -  12.00 MD</b></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 contact-form">
        <h3 class="widget-title">¿Sugerencias o Comentarios?</h3>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre Completo" name="contact-fname" id="input_fname" required="" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo Electrónico" name="contact-email" id="input_email" required="" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Asunto" name="contact-subject" id="input_subject" />
          </div>
          <div class="form-group">
            <textarea class="form-control" placeholder="Mensaje" rows="4" name="contact-message" id="input_message" ></textarea>
          </div>
          <div class="form-group">
            <button title="Learn More" id="que_btn_submit" type="submit" name="post">Enviar</button>
          </div>
          <div id="alert-msg-que" class="alert-msg"></div>
        </form>
      </div>
    </div>
  </div>
</footer>
    
<div class="footer-bottom">
  <div class="container">
    <p>&copy; 2018 Universidad de El Salvador, Facultad Multidisciplinaria Paracentral. Todos los Derechos Reservados</p>
  </div>
</div>