<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span>. : Módulos : . {{ userRegister.recursos }} </span>
  </li>
  <li>
    <a href class="auto" style="color: #96D5DA">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker" style="color: #96DAC0"></i>
      <span class="font-bold">Matenimientos</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span style="color: #96DAC0"> <b>Mantenimientos</b></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.doctors">
          <i class="fa fa-plus-square" aria-hidden="true"></i>
          <span style="color: #96DAC0">Doctores</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.entidades">
          <i class="fa fa-building-o" aria-hidden="true"></i>
          <span style="color: #96DAC0">Entidades</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.insumos_reactivos">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span style="color: #96DAC0">Materiales</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.personals">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span style="color: #96DAC0">Empleados</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.proveedores">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          <span style="color: #96DAC0">Proveedores</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.sucursales">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <span style="color: #96DAC0">Sucursales</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.pacientes">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span style="color: #96DAC0">Pacientes</span>
        </a>
      </li>
    </ul>
  </li>

  <li>
    <a href class="auto" style="color: #96D5DA">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-calendar icon text-info-dker" style="color: #96D5DA"></i>
      <span class="font-bold">Empleados</span>
    </a>
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span style="color: #96DAC0"> <b>Empleados</b></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.planillas">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span style="color: #96DAC0">Planillas</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.permisos">
          <i class="fa fa-user-times" aria-hidden="true"></i>
          <span style="color: #96DAC0">Permisos</span>
        </a>
      </li>
    </ul>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.compras">
      <i class="icon-basket"></i>
      <span style="color: #96DAC0">Compras</span>
    </a>
  </li>
    <li ui-sref-active="active">
    <a ui-sref="app.usuarios">
      <i class="icon-users"></i>
      <span style="color: #96DAC0">Usuarios</span>
    </a>
  </li>
</ul>
