<div class="panel" style="margin-bottom: 0px; background-color: #fafafa; font-size: 16px">
	<div class="panel-heading b-b b-light" style="overflow: auto; background-color: #008080">
    <STRONG style="color: #ffffff">Verificación</STRONG>
  </div>
	<div class="panel-body">
		<div class="panel panel-default">
    	<div class="panel-body">
        <p>
          Esta seguro que desea cancelar esta cita.
        </p>
      </div>
  	</div>
	</div>
  <div class="modal-footer ng-scope">
    <button type="button" ng-click="confirmation();" class="pull-right btn btn-danger">No</button>
    <button type="button" ng-click="confirmation(true);" class="pull-right btn btn-info">Si</button>
  </div>
</div>