<div class="panel" style="margin-bottom: 0px; background-color: #fafafa; font-size: 16px">
	<div class="panel-heading b-b b-light" style="overflow: auto; background-color: #008080">
    <STRONG><b style="color: #ffffff"> Enviar correo al doctor</b></STRONG>
    <button type="button" ng-click="cerrar();" class="pull-right btn btn-danger">Cerrar</button>
  </div>
	<div class="panel-body">
		<div class="panel panel-default">
    	<div class="panel-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid" name="frmDoctors" ng-submit="onSendEmailSubmit()">
          <div class="form-group">
            <label class="col-lg-2 control-label">Doctor</label>
            <div class="col-lg-10">
              <select required name="select_doctors" id="select_doctors" class="form-control" ng-model="doctor">
                <option value="{{ item.id }}" ng-repeat="item in doctors">{{ item.name_doc }} {{ item.lastname_doc }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Comentario</label>
            <div class="col-lg-10">
              <textarea required ng-model="comment" class="form-control" placeholder="Comentario para el doctor" name="text_comentario" id="text_comentario"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" ng-disabled="frmDoctors.$invalid" class="btn btn-sm btn-info">Enviar</button>
            </div>
          </div>
        </form>
    	</div>
  	</div>
	</div>
</div>
