<div class="panel" style="margin-bottom: 0px; background-color: #fafafa; font-size: 16px">
	<div class="panel-heading b-b b-light" style="overflow: auto; background-color: #008080">
		<STRONG style="color: #ffffff">Cambiar contraseña</STRONG>
		<button type="button" ng-click="cerrar();" class="pull-right btn-sm btn btn-danger">Cerrar</button>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name="frmPassword" class="form-horizontal" role="form" ng-submit="onChangePassword();">
					<div class="form-group">
						<label class="col-sm-4 control-label">Nueva contraseña: </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" required
								ng-model="txtPassword" ng-minlength="8" />
							<span class="help-block m-b-none pull-right">Minimo 8 letras</span>
						</div>
					</div>
					<button ng-disabled="frmPassword.$invalid" type="submit" class="btn btn-info pull-right">Cambiar contraseña</button>        
      	</form>
			</div>
		</div>
	</div>
</div>