<div class="panel" style="margin-bottom: 0px; background-color: #fafafa; font-size: 16px">
	<div class="panel-heading b-b b-light" style="overflow: auto; background-color: #008080">
		<STRONG style="color: #ffffff">Cambiar perfil</STRONG>
		<button type="button" ng-click="cerrar();" class="pull-right btn-sm btn btn-danger">Cerrar</button>
	</div>
	<div class="panel-body">
		<div class="panel panel-default">
			<div class="panel-body">
				<form name="frmPassword" class="form-horizontal" role="form" ng-submit="onChangePerfil();">
					<div class="form-group">
						<label class="col-sm-4 control-label">Perfil: </label>
						<div class="col-sm-8">
              <select class="form-control" name="pefiles" id="perfiles" ng-model="perfil">
                <option ng-repeat="p in perfiles" ng-value="p.id">{{ p.nombre }}</option>  
              </select> 
            </div>
					</div>
					<button ng-disabled="frmPassword.$invalid" 
            type="submit" class="btn btn-info pull-right">Cambiar perfil</button>        
      	</form>
			</div>
		</div>
	</div>
</div>