<div class="panel" style="margin-bottom: 0px; background-color: #fafafa; font-size: 16px">
	<div class="panel-heading b-b b-light" style="overflow: auto; background-color: #008080">
    <STRONG style="color: #ffffff">Verificación</STRONG>    
  </div>
	<div class="panel-body">
		<div class="panel panel-default">
    	<div class="panel-body">
        <p>
          Esta seguro que desea cerrar la compra, una vez cerrada la compra no se podra hacer modificaciones en nigun item 
        </p>
      </div>
  	</div>
	</div>
  <div class="modal-footer ng-scope">                  
    <button type="button" ng-click="cerrar();" class="pull-right btn btn-danger">Cancelar</button>
    <button type="button" ng-click="ok();" class="pull-right btn btn-info">Continuar</button>
  </div>
</div>