<div class="col-xs-5">
  <div class="panel panel-default">
    <div class="panel-heading font-bold" style="background-color: #6490dd"><strong style="color: #ffffff">Agregar examen</strong></div>
    <div class="panel-body">
      <form ng-submit="addExamen(frm.$valid, this);"
        class="bs-example form-horizontal ng-pristine ng-valid" name="frm">
        <div class="form-group">
          <label class="col-lg-2 control-label">Categorias: </label>
          <div class="col-lg-10">
            <select ng-change='onChangeExamenes();' required class="form-control" ng-model='catalogo'>
              <option></option>
              <option ng-repeat='item in type.data' value="{{item}}">
                {{item.nombre_categoria}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-show='examenesObject.examenes.length > 0'>
          <div class="checkbox pull-left col-xs-6" ng-if='i.show' ng-repeat='(key, i) in examenesObject.examenes'>
            <label class="i-checks">
              <input type="checkbox" ng-checked='i.value'
                ng-model='i.value' ng-change='onValueData(i, this)' ng-true-value='{{ i }}' ng-false-value ='false' />
              <i></i>
              {{ i.nombre_examen }}
            </label>
          </div>
        </div>

        <!-- <div class="form-group" ng-show='examenesObject.examenes.length > 0'>
          <label class="col-lg-2 control-label">Examen: </label>
          <div class="col-lg-10">
            <select required class="form-control" ng-model='examen'>
              <option></option>
              <option ng-repeat='examen in examenesObject.examenes' value="{{examen}}">
                {{examen.nombre_examen}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group" ng-show='examenesObject.examenes.length > 0'>
          <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" ng-disabled='frm.$invalid'
              class="btn btn-info">Agregar</button>
          </div>
        </div> -->
      </form>
    </div>
  </div>
</div>

<div class="col-xs-7">
  <div class="panel b-a panel-default" style="background-color: #e1f5fe">
    <div class="panel-heading" style="overflow:auto; background-color: #6490dd">
      <strong style="color: #ffffff">EXAMENES</strong>

      <button type="button" ng-show='listExamen.length > 0' ng-click="onCloseExamen(this)"
        class="btn btn-danger pull-right" tooltip-placement="top" uib-tooltip="Cancelar Exámenes"><i class="icon-close"></i></button>

      <button type="button" ng-click='solicitudExamen(this);'
        ng-show='listExamen.length > 0' class="btn btn-success pull-right">Aceptar Solicitud</button>
    </div>
    <div class="panel-body" ng-show='listExamen.length == 0'>
      <h1 class="text-center">No hay examenes para esta solicitud</h1>
    </div>
    <table class="table table-striped m-b-none" ng-show='listExamen.length > 0'>
      <thead>
        <tr>
          <th style="width:60px;" class="text-right">No</th>
          <th class="text-right">Examen</th>
          <th class="text-right">Categoria</th>
          <th class="text-right">Precio</th>
          <th style="width: 80px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='item in listExamen'>
          <td class="text-right">{{ $index + 1 }}</td>
          <td class="text-right">{{ item.examen.nombre_examen }}</td>
          <td class="text-right">{{ item.catalogo.nombre_categoria }}</td>
          <td class="text-right">{{ item.examen.precio | currency }}</td>
          <td>
            <button ng-click="onDeleteItem($index);"
              class="btn btn-danger fa fa-trash-o" tooltip-placement="top" uib-tooltip="Eliminar"></button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <h4 class="text-right font-bold">Total: </h4>
          </td>
          <td>
            <h4 class="text-right font-bold">{{ sumExamTotal |  currency }}</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
